{{>image}}
{{>guessField}}
<div class="result-wrapper">
    <h3 class="{{resultClass}}">{{resultText}}!</h3>
    <h4>This is the flag of {{solution}}.</h4>
    <p id="country-info">{{countryInfo}}</p>
    <a href="/"><button class="app-button">TRY AGAIN?</button></a>
</div>