<div class="site-wrapper">
    <header>
        <img src="/img/globe-icon.png" alt="icon of desktop globe" />
        <h1>What Flag is This?</h1>
        <p>Test your knowledge of the flags of the world! Look at the flag and enter your guess in the field below to check if you are correct. Use this app to help you memorize the flags of the world, or to check your existing knowledge.</p>
    </header>
    <section>
        <div class="image-wrapper">
            <span>Image Here</span>
        </div>
        <div class="guess-wrapper">
            <form action="/guess" method="post">
                <input id="guess-field" type="text" placeholder="Enter Your Guess..." />
                <input id="guess-submit" class="app-button" type="submit" value="SUBMIT"/>
            </form>
        </div>
    </section>
    <footer>
        <p>Copyright © 2021 | <a href="/">Start Over</a></p>
    </footer>
</div>